*{
    margin: 0;
    padding: 0;
}

/* #ilustration{
    height: 550px;
} */

/* #col_about:hover,#col_projects:hover,#col_contact:hover {
    border: solid 1px whitesmoke;
    border-bottom: 0;
}

#logo_dulce_luna, #logo_dogshot{
    height: 200px;
    width: 200px;
} */

#logo{
    
    width: 50px;

}

#col_foto{
    height: 100vh;
    background-image: url('img/babysharpei.jpg');
    background-position: top center;
}